<h1>Update Landmark Profile</h1>

<form action="/landmarks/<%=@landmark.id%>" method="POST">
  <label>Name:</label>
  <br></br>

  <input type="text" name="landmark[name]" id="name" value="<%=@landmark.name%>">
<br>
  <input type="text" name="landmark[year_completed]" id="year_completed" value="<%=@landmark.year_completed%>">

  <br></br>

  <label>Choose an existing Figure:</label>

  <br>
  <%Figure.all.each do |figure| %>
    <input type="checkbox" name="landmark[figure_ids]" id="landmark_<%=figure.id%>" value="<%=figure.id%>"> <%=figure.name%></input>
    <%end%>

    <br><br>

<label>And/or create a new</label>
  <br></br>
  <label>Figure:</label>
    <input  type="text" name="figure[name]" id="new_figure"></input>
  <br></br>
  <input type="submit" value="Edit Landmark">
</form>






