<form action="/figures/<%=@figure.id%>" method="POST">
  <input type="hidden" name="_method" value="PATCH">
  <%=@figure.name%>
  new name: <input type="text" name="figure[name]" id="figure_name" value="<%=@figure.name%>">
    <br>
  New Title: <input type="text" name="title[name]" id="new_title">
    <br>
  New Landmark: <input type="text" name="landmark[name]" id="new_landmark">
    <br>
  <%Title.all.each do |title|%>
  Current Titles: <input type="checkbox" name="figure[title_ids][]" id="title_<%=title.id%>" value="<%=title.id%>"><%=title.name%></input>
  <% end %>
    <br>
  <%Landmark.all.each do |landmark|%>
  Current Landmarks: <input type="checkbox" name="figure[landmark_ids][]" id="landmark_<%=landmark.id%>" value="<%=landmark.id%>"><%=landmark.name%></input>
  <% end %>
  <input type="submit" value="Edit Figure">
</form>
