<h2>New Figure Form</h2>

<form method="POST" action="/figures">
  New Name: <input type="text" id="figure_name" name="figure[name]">
  <br></br>
  New Landmark Name: <input type="text" id="new_landmark" name="landmark[name]">
  <br></br>
  New Title Name: <input type="text" id="new_title" name="title[name]">


  <br></br>
  <br></br>
  <br></br>

  Titles:
  <% Title.all.each do |title| %>

  <p><input type="checkbox" name="figure[title_ids][]" id="title_<%=title.id%>" value="<%= title.id %>"> <%= title.name %></p>

  <% end %>
  <br></br>

  Landmarks:
  <% Landmark.all.each do |landmark| %>
  <p><input type="checkbox" name="figure[landmark_ids][]" id="landmark_<%=landmark.id%>" value="<%= landmark.id %>"><%= landmark.name%></p>
  <% end %>

  <br></br>
  <button type="submit" value="submit">Create New Figure</button>
</form>
