<h1>Create New Figure: </h1>

<form method="POST" action="/figures">
  <p>Name: <input type="text" name="figure[name]" id="figure_name"></p>


  <p>Choose existing landmarks:</p>
  <p><%Landmark.all.each do |lm|%>
    <input type="checkbox" name="figure[landmark_ids][]" value="<%=lm.id%>" id="landmark_<%=lm.id%>"><%=lm.name%><br></input>
  <%end%></p>

  <p>Choose existing titles:</p>
  <p><%Title.all.each do |title|%>
    <input type="checkbox" name="figure[title_ids][]" value="<%=title.id%>" id="title_<%=title.id%>"><%=title.name%><br></input>
  <%end%></p>

  <p>Create a new landmark: <input type="text" name="landmark[name]" id="new_landmark"></p>

  <p>Create a new title: <input type="text" name="title[name]" id="new_title"></p>


  <input type="submit" value="Create New Figure">

</form>