<h2>Create new figure</h2>

<form action="/figures" method="POST">
  <label for="name">Figure Name:</label>
  <input id="figure_name" type="text" name="figure[name]">

  <label for="title">Select from available titles:</label>
  <% Title.all.each do |title| %>
    <input id="<%=title.name%>" type="checkbox" name="figure[title_ids][]" value="<%=title.id%>"><%=title.name%></input>
  <% end %>

  <label for="new_title">Create a new title:</label>
  <input id="new_title" type="text" name="title[name]">


  <label for="landmark">Select from available landmarks:</label>
  <% Landmark.all.each do |landmark| %>
    <input id="<%=landmark.name%>" type="checkbox" name="figure[landmark_ids][]" value="<%=landmark.id%>"><%=landmark.name%></input>
  <% end %>

  <label for="new_landmark">Create a new landmark:</label>
  <input id="new_landmark" type="text" name="landmark[name]">

  <input type="button" value="Create New Figure">

</form>