<h1><%= @figure.name %> Page</h1>
<hr>
<h3>Name: <%= @figure.name %></h3>

<!-- Titles -->
<h4>Titles:</h4>
<% if @figure.titles.empty? %>
<p>Oops! There doesn't seem to be any titles associated with this figure.</p>
<% end %>

<ol>
  <% @figure.titles.each do |title| %>
<li><%= title.name %></li>
  <% end %>
</ol>

<br><br>

<!-- Landmarks -->
<h4>Landmarks: </h4>
<% if @figure.landmarks.empty? %>
<p>Oops! There doesn't seem to be any landmarks associated with this figure.</p>
<% end %>

<ol>
  <% @figure.landmarks.each do |landmark| %>

<li><%= landmark.name %></li>
  <% end %>
</ol>

<br><br>
<a href="/figures/<%= @figure.id %>/edit">Edit this figure</a>
